body {
  background-color:#046294;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: 'Neucha', cursive;
}

/* using grid for page layout */
#container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 1);
  grid-template-areas:    "a b"
                          "c c";
}

#search {
  grid-area: a;
  margin: 2em;
}

#search > input {
  float:right;
  width: 20em;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  font-size: 1.5em;
}

#search > input:focus {
  outline-width: 0;
  border: 6px solid rgba(4, 173, 251, 0.5);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

#loaderProgress {
  width: 0;
  display:none;
  margin-top: -0.4em;
  height: 0.4em;
  box-shadow: 0 0 3pt 2pt rgb(4,98,148);
  background: rgb(4,98,148);
  background: linear-gradient(90deg, rgba(4,98,148,1) 0%, rgba(4,142,209,1) 63%, rgba(4,172,251,1) 100%);}

#loaderWrapper {
  width: 30em;
  float:right;
}

#loaderWrapper, #loaderProgress {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding-right: 1.5em;
}

/* using flexbox to show recent searches */
#recents {
  grid-area: b;
  display: flex;
  justify-content: left;
  margin-top: 2em;
}

.recent {
  width: auto;
  height: 2em;
  background-color: #0387C8;
  border-radius: 8px;
  list-style: none;
  padding: 0.3em 0.4em 0 0.4em;
  margin: 1em 1em 0 0;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.recent:hover {
  cursor: pointer;
  background-color: rgb(90, 214, 255);
}

#results {
  grid-area: c;
  width: 60em;
  min-height: 40em;
  border-radius: 10px;
  margin: auto;
  columns: 4;
  column-gap: 3em;
  padding: 3em;
  background-color: white;
  border: 10px solid rgba(4, 173, 251, 0.5);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.item {
  margin-bottom: 1em;
  border-radius: 6px;
  transition: transform .2s;
}

.item:hover {
  transform: scale(1.5);
}